# Example .env file.
#
# This example is for setup of local development.
# Use it as-is by copying it to .env.

TERMER_CORE_URL_NOMODULE=http://localhost:3004/termer.js
TERMER_CORE_URL=http://localhost:3004/termer.mjs

VUE_APP_PUBLIC_URL=http://localhost:3002
VUE_APP_PUBLIC_PATH=/
VUE_APP_DEV_SERVER_PORT=3002

TERMER_BACKEND=http://localhost:8000
PDF_VIEWER_URL=https://localhost:8003/

GLOSSARYJS_OUTPUT_SUBDIR=/
GLOSSARYJS_PUBLIC_PATH=/
GLOSSARYJS_PUBLIC_URL=http://localhost:3001
GLOSSARYJS_DEV_SERVER_PORT=3001

TERMER_STATS_SERVER=http://localhost:3003/log

LOVDATA_BACKEND_CACHE_DIR=/path/to/cache/lovdata/
LOVDATA_BACKEND_PORT=6000
LOVDATA_BACKEND=http://localhost:6000

DOMSTOL_BACKEND_PORT=6002
DOMSTOL_BACKEND=https://domstol-backend.termer.localhost

LEXIN_BACKEND_PORT=6004
LEXIN_BACKEND=http://localhost:6004

SNL_BACKEND_PORT=6012
SNL_BACKEND=http://localhost:6012

ECB_BACKEND_CACHE_DIR=/path/to/cache/ecb/
ECB_BACKEND_PORT=6006
ECB_BACKEND=http://localhost:6006

SPRAKRADET_BACKEND_CACHE_DIR=/path/to/cache/sprakradet/
SPRAKRADET_BACKEND_PORT=6010
SPRAKRADET_BACKEND=http://localhost:6010

ICNP_BACKEND_PORT=6008
ICNP_BACKEND=http://localhost:6008

DSB_BACKEND_PORT=6014
DSB_BACKEND=http://localhost:6014

ECT_BACKEND_PORT=6016
ECT_BACKEND=http://localhost:6016
